.gacha {
  position: relative;

  .event-none {
    pointer-events: none;
  }

  .gacha-base {
    width: 980px;
    height: 980px;
    max-height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
  }

  .gacha-bg {
    margin: 0 auto;
    max-height: 100%;
  }

  .gacha-text-w {
    position: absolute;
    left: 50%;
    top: 0;
    max-height: 100%;
    translate: -50% 0%;
  }
  .gacha-text-y {
    position: absolute;
    left: 50%;
    top: 0;
    max-height: 100%;
    translate: -50% 0%;
  }
  .monster-ball {
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    max-height: 100%;
    z-index: 100;
  }

  .claw-box {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 15%;
    left: 50%;
    translate: -50% 0;
    display: flex;
    justify-content: center;
    transform-origin: center top;
  }

  .claw-body-01 {
    height: 10%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
  }
  .claw-line {
    height: 55%;
  }
  .claw {
    height: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  .claw-open {
    height: 20%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 640px) {
    .gacha{
      position: relative;
    }
    .gacha-base {
      position: relative;
      width: 100%;
      height: auto;
    }
    .gacha-bg {
      margin: 0;
    }
    .gacha-move {
      left: 0;
      translate: 0;
    }
    .small-claw {
      width: 20%; /* 원래 width 유지 */
      position: absolute;
      top: 15%; /* 원래 top 값 유지 또는 조정 */
      translate: -50% 0;
      left: 50%;
    }
  }
}
