/* ST : 슬롯 페이지 */
.slot {
  background-color: #000;
  position: relative;
  /* ST : 슬롯 버튼 + 슬롯테두리이미지 + 슬롯 숫자 랩핑 */

  /* ST : 슬롯 버튼 */
  .slot-btn {
    position: absolute;
    bottom: 9%;
    left: 39%;
    width: 22%;
    z-index: 99;
  }
  /* ED : 슬롯 버튼 이미지 */
  .slot-btn-img {
    width: 100%;
  }
  /* ED : 슬롯 버튼 */
  .slot-bg {
    z-index: 9;
    max-height: 100vh;
  }
  /* ST : 숫자 Ul */
  .slot-numbers {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 43%;
    border-radius: 8px;
    width: 46%;

    /* 검은 박스안 흰 박스 정렬 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* 배경 및 테두리 컬러 */
    background-color: var(--color-black);
    border: 12px solid var(--color-black);

    /* 검은 박스안 모든 텍스트 폰트 */
    font-family: 'Pretendard';
    font-weight: 800;
    font-size: min(
      12vw,
      12vh
    ); /* 부모 사이즈 및 화면 사이즈 대비 폰트 사이즈 조절 */
  }

  /* ST : 숫자 li */
  .slot-num {
    line-height: 100%;
    width: 30%;
    aspect-ratio: 10/16;
    border-radius: 4px;
    /* 흰 박스안 텍스트 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-roulette-blue);
    background-color: var(--color-white);
  }
  .pokeGet {
    background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  .d-none {
    display: none;
  }
}
