/* ST : 슬롯 페이지 */
.slot {
  background-color: #000;
  position: relative;
  overflow: hidden;
  /* ST : 슬롯 버튼 + 슬롯테두리이미지 + 슬롯 숫자 랩핑 */

  /* ST: 뒤로가기, 음소거 버튼 */
  .back-btn {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 6%;
    height: 6%;
    background: url('../../assets/common/back-btn.png') no-repeat center;
    background-size: cover;
    opacity: 0.7;
    z-index: 9999999;
  }
  .toggle-sound {
    position: absolute;
    top: 1%;
    right: 1%;
    width: 6%;
    height: 6%;
    background: url('../../assets/common/sound-on.png') no-repeat center;
    background-size: cover;
    opacity: 0.7;
    z-index: 9999999;
  }
  /* ED: 뒤로가기, 음소거 버튼 */

  /* ST : 슬롯 버튼 */
  .slot-btn {
    position: absolute;
    bottom: 9%;
    left: 39%;
    width: 22%;
    z-index: 99;
  }
  /* ED : 슬롯 버튼 이미지 */
  .slot-btn-img {
    width: 100%;
  }
  /* ED : 슬롯 버튼 */
  .slot-bg {
    z-index: 9;
    max-height: 100vh;
  }
  /* ST : 숫자 Ul */
  .slot-numbers {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 43%;
    border-radius: 8px;
    width: 46%;

    /* 검은 박스안 흰 박스 정렬 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    /* 배경 및 테두리 컬러 */
    background-color: var(--color-black);
    border: 12px solid var(--color-black);

    /* 검은 박스안 모든 텍스트 폰트 */
    font-family: 'Pretendard';
    font-weight: 800;
    font-size: min(
      12vw,
      12vh
    ); /* 부모 사이즈 및 화면 사이즈 대비 폰트 사이즈 조절 */
  }

  /* ST : 숫자 li */
  .slot-num {
    line-height: 100%;
    width: 30%;
    aspect-ratio: 10/16;
    border-radius: 4px;
    /* 흰 박스안 텍스트 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-roulette-blue);
    background-color: var(--color-white);
  }
  .poke-get {
    background-color: #000000b7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  #pokeGet {
    transition: all 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
  }
  #pokeGet.active {
    opacity: 1;
    pointer-events: auto;
  }
  .card-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 500px;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 50%;
  }
  .card-ab {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .p-none {
    pointer-events: none;
  }
  .star-back {
    top: 42%;
    aspect-ratio: 694/815;
    width: 70%;
  }
  .poke-card {
    top: 25%;
    left: 35%;
    width: 30%;
    aspect-ratio: 400/556;
    z-index: 9999;
    transform-origin: center center;
    transform: scale(1);
    border-radius: 5%;
    /* transition: all 0.1s ease-in-out; */
    box-shadow:
      rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  /* ST : 포켓몬카드 효과 */
  .shine {
    content: '';
    transform-origin: center center;
    transform: scale(1);
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    aspect-ratio: 400/556;
    z-index: 9999999999999;
    border-radius: 5%;
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 0, 255, 0.4) 25%,
      rgba(0, 255, 255, 0.4) 50%,
      rgba(255, 255, 0, 0.4) 75%,
      rgba(255, 255, 255, 0.5) 100%
    );
    background-size: 150% 150%;
    mix-blend-mode: overlay;
    opacity: 0.5;
    pointer-events: none;
    transition: background-position 0.1s ease; /* 부드럽게 */
  }
  .shine2 {
    content: '';
    transform-origin: center center;
    transform: scale(1);
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    aspect-ratio: 400/556;
    z-index: 9999999999999;
    border-radius: 5%;
    background: linear-gradient(
      145deg,
      transparent 50%,
      rgba(255, 219, 112, 0.25) 55%,
      rgba(132, 50, 255, 0.25) 60%,
      transparent 65%
    );
    background-size: 200% 200%;
    filter: brightness(1.5) opacity(0.8);
    mix-blend-mode: screen;
    opacity: 0.5;
    pointer-events: none;
    transition: background-position 0.1s ease; /* 부드럽게 */
  }
  .shadow {
    content: '';
    transform-origin: center center;
    transform: scale(1);
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    aspect-ratio: 400/556;
    z-index: 999999999999999999;
    border-radius: 5%;
    background: radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.3) 0%,
      transparent 20%
    );
    background-size: 100% 100%;
    mix-blend-mode: screen;
    opacity: 0.8;
    pointer-events: none;
    transition: background-position 0.1s ease; /* 부드럽게 */
  }
  /* ED : 포켓몬카드 효과 */
  .poke-name {
    color: white;
    top: 77.5%;
    z-index: 9999;
    font-size: min(
      5vw,
      5vh
    ); /* 부모 사이즈 및 화면 사이즈 대비 폰트 사이즈 조절 */
  }
  .get-btn {
    font-size: min(
      3dvw,
      3dvh
    ); /* 부모 사이즈 및 화면 사이즈 대비 폰트 사이즈 조절 */
    color: white;
    background: var(--color-button-blue);
    top: 90%;
    padding: 8px 30px;
    border: 6px double #000;
  }

  .no-slot {
    background-color: #000000b7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .doctor-img {
      width: 70%;
    }
  }

  .no-slot-btn {
    /* background-color: red; */
    position: absolute;
    right: 22%;
    bottom: 20%;
    width: 7%;
    transition: none;
    animation: none;
  }
  .d-none {
    display: none;
  }
}

.a-button {
  width: 13%;
  aspect-ratio: 1/1;
  /* height: 5%; */
  /* background: gold; */
  position: absolute;
  display: none;
  z-index: 9999999999;
  top: 73%; /* 혹은 85% 정도? 원하는 위치 조정 */
  right: 18%;
  /* transform: translate(-50%, 0); */
}
@media screen and (max-width: 640px) {
  .a-button {
    display: block;
  }
  .shine {
    display: none;
  }
  .shine2 {
    display: none;
  }
  .shadow {
    display: none;
  }
}
