/* Pixeled */
@font-face {
  font-family: 'Pixeled';
  font-display: swap;
  src:
    local('Pixeled'),
    url('/fonts/Pixeled.woff2') format('woff2'),
    url('/fonts/Pixeled.woff') format('woff');
}

/* I-pixel-u */
@font-face {
  font-family: 'I-pixel-u';
  font-display: swap;
  src:
    local('I-pixel-u'),
    url('/fonts/I-pixel-u.woff2') format('woff2'),
    url('/fonts/I-pixel-u.woff') format('woff');
}

/* Galmuri9 */
@font-face {
  font-family: 'Galmuri9';
  font-display: swap;
  src:
    local('Galmuri9'),
    url('/fonts/Galmuri9.woff2') format('woff2'),
    url('/fonts/Galmuri9.woff') format('woff');
}

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('/fonts/Pretendard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.woff2') format('woff2');
}

.eng-pixel {
  font-family: 'Pixeled';
}
.sub-pixel {
  font-family: 'I-pixel-u';
}
.pretendard {
  font-family: 'Pretendard';
}
